.footer {
  &__container {
    padding: $containerPadding;
    background-color: $footerBGColor;
    font-family: $footerFontFamily;
    font-size: $footerFontSize;
    min-height: $footerHeight;
  }
}
