@import "./helpers/fonts.scss";
@import "./helpers/normalize.scss";
@import "./helpers/smart-grid.scss";
@import "./helpers/variables.scss";
@import "./helpers/mixins.scss";
@import "../modules/_header/header.scss";
@import "../modules/_sidebar/sidebar.scss";
@import "../modules/_footer/footer.scss";

.container {
  max-width: $maxContainerWidth;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 $containerPadding;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
}
